<% if @user.errors.any? %>
  <div class="p-3">
    <% @user.errors.each do |error| %>
      <% unless error.message.length < 3 %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= image_tag("icons/exclamation-triangle.svg", alt: "exclamation-triangle") %>
          <%= error.message %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
