<h1>Editando especialidad</h1>

<%= render "form", speciality: @speciality %>

<br>

<div>
  <%= link_to "Ver esta especialidad", @speciality %> |
  <%= link_to "Volver a especialidades", specialities_path %>
</div>
