<h1>Editando especialidad</h1>

<%= render "form", speciality: @speciality %>

<br>

<div class="m-2">
  <%= link_to "Ver esta especialidad", @speciality, class:"btn btn-primary" %> |
  <%= link_to "Volver a especialidades", specialities_path, class:"btn btn-secondary" %>
</div>
