<h1 class="p-4">Especialidades</h1>

<%= link_to "Nueva especialidad", new_speciality_path, class: "btn btn-primary m-4" %>

<div id="specialities" class="d-flex flex-row">
  <% @specialities.each do |speciality| %>
    <%= render speciality %>
  <% end %>
</div>