<h1 class="p-3">Nueva especialidad</h1>

<%= render "form", speciality: @speciality %>

<br>

<div>
  <%= link_to "Volver a las especialidades", specialities_path, class:"btn btn-secondary m-3 mt-0" %>
</div>
