<h1 class="m-3">Editando libro</h1>

<%= render "form", book: @book %>

<br>

<div class="m-2">
  <%= link_to "Ver este libro", @book, class:"btn btn-primary" %> |
  <%= link_to "Volver al cátalogo", root_path, class:"btn btn-secondary" %>
</div>
