<p style="color: green"><%= notice %></p>

<h1 class="text-center mb-5">Cátalogo de Libros</h1>

<% if @user.admin? %>
  <%= link_to "New book", new_book_path, class: "btn btn-primary m-4" %>
<% end %>

<div id="books">
  <div>
    <% @books.each do |book| %>
      <div><%= render book %></div>
    <% end %>
  </div>
</div>