<h1 class="text-center p-4 ">Cátalogo de Libros</h1>

<% if @user.admin? %>
  <%= link_to "Nuevo libro", new_book_path, class: "btn btn-primary m-4" %>
<% end %>

<div id="books">
  <div>
    <% @books.each do |book| %>
      <div><%= render book %></div>
    <% end %>
  </div>
</div>

<div class="text-center">
    <%= will_paginate @books %>
</div>