<h1>Editando préstamo</h1>

<%= render "form", loan: @loan %>

<br>

<div class="m-2">
  <%= link_to "Ver este préstamo", @loan, class:"btn btn-primary" %> |
  <%= link_to "Volver a préstamos", loans_path, class:"btn btn-secondary" %>
</div>
