<h1>Préstamos</h1>

<div id="loans">
  <% @loans.each do |loan| %>
    <%= render loan %>
    <p>
      <%= link_to "Ver más", loan %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo préstamo", new_loan_path %>
