
<%= render partial: 'admin_users/user', locals: { user: @user } %>

<div>
  <div class="m-4">
  <% if current_user.admin? %>
    <%= link_to "Editar este usuario", edit_admin_user_path(@user), class: "btn btn-primary mb-2" %>
    <button type="button" class="btn btn-danger mb-2" id="btn-del" data-bs-toggle="modal" data-bs-target="#exampleModal" >
      Eliminar este usuario
    </button>
  <% end %>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <strong class="text-center">
          <p>¿Esta seguro de eliminar este usuario?</p>
        </strong>
        <p>Al eliminar este usuario se eliminaran con el todos sus registros de préstamos</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <%= button_to "Eliminar", admin_user_path(@user), method: :delete, class: "btn btn-danger", data: { confirm: '¿Estás seguro?' } %>
      </div>
    </div>
  </div>
</div>
</div>

  <%= link_to "Volver a usuarios", admin_users_path, class:"m-4 mt-0 btn btn-secondary" %>
</div>